/*------------------------- header ---------------------------------*/

header {

}

body {
    background-image: url(../img/project_img/project30.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    -webkit-overflow-scrolling: touch;
}

.wrap {
    /* background-color: rgb(217, 217, 217 ,0.4); */
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: whitesmoke;
}

.about-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10%;
    /* padding-top: 5%; */
    /* background-image: url(../img/home_img/bg.png); */
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(217, 217, 217 ,0.4); 
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.article-wrap {
    display: flex;
}

.photo-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url(../img/project_img/project29.jpg);
    background-size: cover;
    background-position: 800px 0;
    margin-bottom: 10%;
}

.article-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-section p {
    width: 80%;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: 20%;
}

.article-section .about-btn {
    margin-top: 14%;
}

.about-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.about-btn li{
    width: 200px;
    margin: 5% 0;
}


/* ================================================ */

@media screen and (max-width:414px) {

    /* body:before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../img/project_img/project30.jpg) center center no-repeat;
        background-size: cover;
    } */


    .title {
        margin-top: 30%;
        margin-bottom: 10%;
    }

    .about-container {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        margin-bottom: 30%;
        backdrop-filter: blur(4px);
    }

    .article-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo {
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .article-section {
        width: auto;
    }

    .article-section p {
        width: auto;
        font-size: 16px;
        margin-bottom: 10%;
        margin-top: 10%;
        text-align: center;
    }

    .about-btn li {
        margin: 5% 5%;
    }

}