/*------------------------- header ---------------------------------*/

header {

}

body {
    background-image: url(../img/bg_img/bg06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.navbar a {
    color: whitesmoke;
}

.wrap {
    /* background-color: rgb(217, 217, 217 ,0.4); */
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.about-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10%;
    /* padding-top: 5%; */
    /* background-image: url(../img/home_img/bg.png); */
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(217, 217, 217 ,0.4); 
    padding: 5%;
    margin: 5%;
    border-radius: 15px;
    backdrop-filter: blur(8px);
}

.article-wrap {
    display: flex;
}

.photo-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-image: url(../img/about_img/about1.jpg);
    background-position: 830px 0;
    margin-bottom: 10%;
}

.article-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-section p {
    width: 80%;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-top: 20%;
}

.article-section .about-btn {
    margin-top: 14%;
}

.about-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.about-btn li{
    width: 200px;
    margin: 5% 0;
}