
h3 {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: white;
}

body {
    background-image: url(../img/bg_img/bg03.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar a {
    color: whitesmoke;
}

.case-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15%;
    /* background-color: rgb(217, 217, 217, 0.4); */
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: whitesmoke;
}

.case-card-wrap {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.case-card {
    width: 100%;
    padding-bottom: 5%;
    flex-grow: 1;
}

.case-card:hover {
    flex-grow: 10;
}

.case-card-content {
    /* padding: 5%; */
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    /* background-color:rgba(26, 26, 26, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(8px); */
}

.case-card-content p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 24px;
}

.case-card-article {
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(43, 43, 43,0.6);
}

.card-item1 {
    width: 100%;
    background-image: url(../img/case_img/case01.jpg);
    background-position: center center;
    background-size: cover;
}

.card-item2 {
    width: 100%;
    background-image: url(../img/case_img/case02.jpg);
    background-position: center 800px;
    background-size: cover;
}

.card-item3 {
    width: 100%;
    background-image: url(../img/case_img/case03.jpg);
    background-position: center top;
    background-size: cover;
}

.card-item4 {
    width: 100%;
    background-image: url(../img/case_img/case04.jpg);
    background-position: center -170px;
    background-size: cover;
}


.case-card-content h3 {
    margin-bottom: 10%;
}

.case-btn {
    width: 150px;
}

/* =====================footer換色============================= */

.footer-bar li a {
    color: whitesmoke;
}

.footer-btn-wrap span {
    color: whitesmoke;
}

.footer-btn-wrap span::after {
    background-color: whitesmoke;
}

.footer-btn-bar a {
    color: whitesmoke;
}

.copyright {
    color: whitesmoke;
}



/* ===================case rwd========================== */

@media screen and (max-width:414px) {

    body {
        /* background-position: center center; */
    }

    nav {
        /* width: auto; */
    }

    .wrap {
        width: auto;
    }

    .case-container {
        width: auto;
    }

    .title {
        margin-top: 30%;
        margin-bottom: 10%;
    }

    .case-card-wrap {
        width: auto;
        margin-bottom: 20%;
        overflow: hidden;
    }

    .case-card {
        /* background-repeat: no-repeat; */
        width: auto;
    }

    .case-card-article {
        width: 32vw;
    }

    .card-item3 {

    }

    .card-item4 {
        background-repeat: no-repeat;
        background-position: center center;
    }

    .case-card-content {
        width: 80%;
        padding: 0;
    }

    .case-card-content h3 {
        font-size: 24px;
    }

    .case-card-content p {
        font-size: 20px;
    }
}