
h3 {
    color: white;
    font-weight: 900;
}

p {
    color: white;
}

body {
    background-image: url(../img/bg_img/bg03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -50px;
    background-attachment: fixed;
}

.navbar a {
    color: whitesmoke;
}

.case-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15%;
    /* background-color: rgb(217, 217, 217, 0.4); */
    margin-bottom: 5%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.case-card-wrap {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    
}

.case-card {
    width: 100%;
    padding-bottom: 5%;
    flex-grow: 1;
}

.case-card:hover {
    flex-grow: 10;
}

.case-card-content {
    /* padding: 5%; */
    margin-top: 5%;
    margin-left: 5%;
    width: 30%;
    /* background-color:rgba(26, 26, 26, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(8px); */
}

.card-item1 {
    width: 100%;
    background-image: url(../img/case_img/case01.jpg);
    background-position: center center;
    background-size: cover;
}

.card-item2 {
    width: 100%;
    background-image: url(../img/case_img/case02.jpg);
    background-position: center 800px;
    background-size: cover;
}

.card-item3 {
    width: 100%;
    background-image: url(../img/case_img/case03.jpg);
    background-position: center top;
    background-size: cover;
}

.card-item4 {
    width: 100%;
    background-image: url(../img/case_img/case04.jpg);
    background-position: center -170px;
    background-size: cover;
}


.case-card-content h3 {
    margin-bottom: 10%;
}

.case-card-content p {
    font-size: 24px;
    margin-bottom: 25%;
}

.case-btn {
    width: 150px;
}

.box {
    width: 100%;
    background-image: url(../img/case_img/人物.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
}


/* ===================case rwd========================== */

@media screen and (max-width:414px) {

    body {
        background-position: center center;
    }

    .wrap {
        width: auto;
    }

    .case-container {
        width: auto;
    }

    .title {
        margin-top: 30%;
    }

    .case-card-wrap {
        width: auto;
    }

    .case-card {
        /* background-repeat: no-repeat; */
    }
}