
body {
    background-image: url(../img/bg_img/bg05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    background-attachment: fixed;
}

.navbar a {
    color: whitesmoke;
}

.contract-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
}

.wrap {

}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(217, 217, 217);
}

.contract-wrap {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    /* margin-top: 25%; */
    padding-bottom: 10%;
    /* background-color: rgb(217, 217, 217 ,0.4); */
}

form {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(217, 217, 217 ,0.4); 
    border-radius: 15px;
    backdrop-filter: blur(8px);
    padding: 5%;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: rgba(26, 26, 26, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: rgba(26, 26, 26, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #333;
    transition: 0.2s;
}

button {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 10px 10px;
    color: #333;
    background-color: rgba(26, 26, 26, 0.1);
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 10px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    color: rgb(217, 217, 217);
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-row .input-group {
    flex-basis: 48%;
}