
body {
    background-image: url(../img/project_img/project19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -100px;
}

.contract-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
}

.wrap {
    background-color: #ececec;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contract-wrap {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 25%;
}

form {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

.input-group {
    margin-bottom: 30px;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    font-size: 16px;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 10px;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #333;
    transition: 0.2s;
}

button {
    
    width: 100%;
    padding: 10px 10px;
    color: #333;
    background-color: transparent;
    border: 1px solid #333;
    cursor: pointer;
    border-radius: 10px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-row .input-group {
    flex-basis: 48%;
}