body {
    background-image: url(../img/bg_img/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.navbar a {
    color: whitesmoke;
}

.faq-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ececec;
}


.faq-wrap {

    margin: 0 auto;
    width: 70%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    position: relative;
    border-radius: 15px;
}


.faq-item {
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.faq-header {
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 63, 169,0.4); 
    backdrop-filter: blur(3px);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: wheat;
    transition: background-color 0.3s ease;
}

.faq-header:hover {
    background-color: rgb(179, 195, 236,0.8);
    color: white;
}

.faq-header::after {
    content: '\002B';
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
    transition: transform 0.3s ease;
}

.faq-header.active::after {
    color: #fff;
    transform: rotate(45deg);
}
.faq-header.active{
    background-color: rgb(179, 195, 236,0.8);
    color: white;
}
.faq-content {
    padding: 20px;
    background-color: rgba(24, 63, 169,0.4); 
    border: 2px solid rgb(24, 63, 169);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    color: whitesmoke;
    line-height: 1.5;
    display: none;
}

.faq-item.active .accordion-content {
    display: block;
    
}


/* =======================faq rwd============================ */

@media screen and (max-width:414px) {

    body:before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../img/bg_img/bg01.jpg) center 0 no-repeat;
        background-size: cover;
    }


    .title {
        margin-top: 30%;
    }

    .faq-content p {
        font-size: 14px;
        letter-spacing: 1.5;
    }

    .faq-header::after {
        margin-left: 10px;
    }
    
    
}