
.faq {
    width: 100%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.faq-wrap {

    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    position: relative;
}

.question {
    border-radius: 15px;
    border: 1px solid red;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 210px;
    top: 0;
}

.question p {
    width: 80%;
    text-align: left;
}

.answer {
    border-radius: 15px;
    border: 1px solid blue;
    width: 600px;
    height: 150px;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.answer p {
    width: 600px;
    text-align: left;
}

