body {
    background-image: url(../img/bg_img/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar a {
    color: whitesmoke;
}

.faq-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ececec;
}

.faq-wrap {

    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    position: relative;
    border-radius: 15px;
    /* background-color: rgb(217, 217, 217 ,0.4); */
}

.question {
    border-radius: 15px;
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 210px;
    top: 0;
    background-color:rgb(240, 202, 199, 0.6);
}

.question p {
    width: 80%;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    /* color: #ececec; */
}

.answer {
    border-radius: 15px;
    width: 600px;
    height: 150px;
    padding: 5%;
    display: flex;
    justify-content: center;
    background-color: rgb(179, 195, 236, 0.6);
}

.answer p {
    width: 600px;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    /* color: #ececec; */
}

