

body {
    font-family:'Oswald', sans-serif,Arial, Helvetica;
    background-color: #ececec;
    line-height: 1.6;
    letter-spacing: 1.2;
}

h1 {
    font-size: 120px;
    color: #b3c3ec;;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 24px;
}

h6 {

}

p {
    font-size: 24px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

/* =========================wrap========================== */

.wrap {
    margin: 0 auto;
    width: 100%;
    position: relative;
}



/*---------------------------------- navbar-------------------------------- */

nav {
    background-color: rgb(217, 217, 217 ,0);
    backdrop-filter: blur(3px);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.navbar-wrap {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 10%;
    position: absolute;
    top: 3vh;
    left: 3vw;
}

.navbar {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar li {
    flex-grow: 1;
    height: 60px;
    /* margin: 0 3%; */
    text-align: center;
    line-height: 60px;
    border-top: 2px solid rgba(51, 51, 51,0.1);
    border-bottom: 2px solid rgba(51, 51, 51,0.1);
    border-right: 2px solid rgba(51, 51, 51,0.1);;
}

.navbar li:nth-child(1) {
    border-left: 2px solid rgba(51, 51, 51,0.1);;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    height: 100%;
    display: block;
    transition: all 0.3s ease;
    position: relative;
}

.navbar a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(179, 195, 236,0.8);
    transition: all 0.3s ease;
}

.navbar a:hover {
    /* border-bottom: 1px solid #183fa9;
    color: #183fa9; */
    color: #183fa9;
    
}

.navbar a:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
}


/* ===================================footer========================================= */

footer {
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 63, 169,0.2); 
    backdrop-filter: blur(3px);
    
}

.footer-wrap {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bar li {
    margin: 20px;
}

.footer-bar li a {
    color: rgb(245, 245, 245,0.8);
}

.footer-bar li a:hover {
    /* border-bottom: 1px solid #b3c3ec; */
    color: #b3c3ec;
    /* transition: 1s; */
}


.footer-btn-wrap {
    display: flex;
}

.footer-btn-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn-bar li {
    height: 60px;
    line-height: 60px;
    flex-grow: 1;
    padding: 0 10px;
    border-top: 2px solid rgba(51, 51, 51,0.1);
    border-bottom: 2px solid rgba(51, 51, 51,0.1);
    border-right: 2px solid rgba(51, 51, 51,0.1);
    position: relative;
}

.footer-btn-bar li:nth-child(1) {
    border-left: 2px solid rgba(51, 51, 51,0.1);;
} 


.footer-btn-bar a {
    color: rgb(245, 245, 245,0.8);
    display: block;
}

.footer-btn-bar a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(179, 195, 236,0.8);
    transition: all 0.3s ease;
}

.footer-btn-bar a:hover {
    /* border-bottom: 1px solid #183fa9;
    color: #183fa9; */
    color: #183fa9;
    
}

.footer-btn-bar a:hover::after {
    top: auto;
    bottom: 0;
    height: 100%;
}


.copyright {
    text-align: center;
    color: rgb(245, 245, 245,0.8);
    font-size: 16px;
}

/* btn======================================================== */

.btn {
    font-size: 16px;
    letter-spacing: 1.6;
    color: #183fa9;
    /* background-color: rgb(219, 225, 240,0.8); */
    font-weight: 800;
    position: relative;
    display: block;
    overflow: hidden;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 1rem auto;
    /* border: 2px solid #183FA9; */
    border-radius: 40px;
    z-index: 2;
}

.btn0 {
    color: rgb(24, 63, 169);
    /* border: 2px solid #183FA9; */
    background-color: rgb(179, 195, 236,0.8);
}

.btn1 {
    color: rgb(24, 63, 169);
    /* border: 2px solid #183FA9; */
    background-color: rgb(179, 195, 236,0.8);
}

.btn2 {
    color: rgb(24, 63, 169);
    /* border: 2px solid #183FA9; */
    background-color: rgb(179, 195, 236,0.8);
}

.btn3 {
    color: rgb(24, 63, 169);
    /* border: 2px solid #183FA9; */
    background-color: rgb(179, 195, 236,0.8);
}

.btn4 {
    color: rgb(24, 63, 169);
    /* border: 2px solid #183FA9; */
    background-color: rgb(179, 195, 236,0.8);
}

.btn a {
    position: absolute;
    z-index: 2;
}

.btn1 span {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:#ececec;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.btn2 span {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:#ececec;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.btn3 span {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:#ececec;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.btn4 span {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:#ececec;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.-on {
    background-color:#ececec;
    color: rgb(179, 195, 236,0.8);
    pointer-events: none;
}


.btn1:hover {
    color: #b3c3ec;
}

.btn2:hover {
    color: #b3c3ec;
}

.btn3:hover {
    color: #b3c3ec;
}

.btn4:hover {
    color: #b3c3ec;
}

.btn:hover span {
    width: 225%;
    height: 500%;
    z-index: -1;
}

/* =============================================== */

.bg-change1 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 66%;
    left: 17%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:rgba(88, 127, 224, 0.8);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.bg-change2 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 66%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:rgba(130, 158, 231, 0.8);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.bg-change3 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 66%;
    left: 59%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:rgba(172, 193, 245, 0.8);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.bg-change4 {
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    top: 66%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color:rgba(198, 207, 230, 0.8);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 0;
}
/* ========================loading=========================================== */

    @keyframes twinkle{
        0%{
        opacity: .1;
        }
        100%{
        opacity: 1;
        }
    }
    
    p.para{
        font-size: 32px;
        color: rgba(88, 127, 224, 0.8);
        font-weight: bold;
        font-style: italic;
        font-family: "Helvetica Neue";
        margin: 0;
        
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
    }
    span.dot{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(88, 127, 224, 0.8);;
        position: relative;
        top: 3px;
        left: -3px;
        
        animation-name: twinkle;
        animation-duration: .8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        
    }
    span.-dot2{
        animation-delay: .2s;
    }
    span.-dot3{
        animation-delay: .4s;
    }
    
    div.loading_block{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:#b3c3ec;
        z-index: 999;
    }

    .loading_block img {
        width: 600px;
        margin-bottom: 10%;
    }