p {
    font-size: 16px;
}

body {
    width: 100%;
    background-image: url(../img/bg_img/bg02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -120px;
    background-attachment: fixed;
}

.wrap {
    
}

.navbar a {
    color: whitesmoke;
}

.price-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(217, 217, 217);
}

.banner-wrap {
    width: 100%;
    height: 400px;
}

.price-content {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    line-height: 1.6;
    flex-grow: 1;
    background-color: rgba(24, 63, 169,0.2); 
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.price-content h5 {
    font-weight: bolder;
    color: whitesmoke;
}

.price-content span {
    color: rgb(235, 57, 57);
    font-weight: 600;
}

.price-content-left {
    width: 45%;
    color: whitesmoke;
}

.left-section1 {
    margin-bottom: 20px;
    
}

.left-section2 {
    font-weight: bolder;
}



.price-content-right {
    width: 45%;
    color: whitesmoke;
}

.price-content-right ul li {
    margin-bottom: 5%;
}

.top {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 5%;
}

.top li {
    margin-right: 10%;
}

.subtitle {
    font-weight: bolder;
}

.price-item-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-item {
    margin: 5%;
    background-color: rgba(24, 63, 169,0.2); 
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 20px;
    color: whitesmoke;
}

.price-item p {
    margin-bottom: 20px;
}

.price-item span {
    background-color: #F2CE12;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 40px;
}

.price-item h4 {
    border-bottom: 1px solid whitesmoke;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.img-box {
    width: 250px;
    height: 250px;
    background-image: url(../img/price_img/price3.jpg);
    background-size: cover;
    background-position: -60px 0;
}

.price-item:nth-child(2) .img-box {
    width: 250px;
    height: 250px;
    background-image: url(../img/project_img/project07.jpg);
    background-size: cover;
    /* background-position: -60px 0; */
    background-repeat: no-repeat;
}


/* ============price rwd============= */

@media screen and (max-width:414px) {

    body:before {
        content: ' ';
        position: fixed;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../img/bg_img/bg02.jpg) center 0 no-repeat;
        background-size: cover;
    }


    .title {
        margin-top: 35%;
    }

    .price-container {
        width: auto;
    }

    .price-content {
        flex-direction: column;
    }

    .price-content-left {
        width: auto;
        padding-bottom: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid whitesmoke;
    }

    .price-content-right {
        width: auto;
    }


    .price-item-wrap {
        flex-direction: column;
    }
}