
body {
    background-image: url(../img/project_img/project18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.project-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pj-select-bar {
    margin-bottom: 5%;
}

.pj-select-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pj-select-bar ul li {
    width: 180px;
}

.pj-content {
    width: 100%;
    column-count: 4;
    column-gap: 0;
}

.pj-item {
    padding: 5px;
}

.pj-item img {
    transition: 0.3s;
}

.pj-item img:hover {
    transform: scale(1.1);
}

.pj-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}