
body {
    background-image: url(../img/bg_img/bg04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -85px;
    background-attachment: fixed;
}

.wrap {
    width: 100%;
}

.navbar a {
    color: whitesmoke;
}

.project-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 15%;
}

.title {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(217, 217, 217);
}

.pj-select-bar {
    margin-bottom: 5%;
}

.pj-select-bar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pj-select-bar ul li {
    width: 180px;
}

.pj-content {
    width: 100%;
    column-count: 5;
    column-gap: 0;

    border-radius: 15px;
    /* background-color: rgb(236, 236, 236, 0.6); */
    background-color: rgb(217, 217, 217 ,0.4);
    margin-bottom: 10%;
}

.pj-item {
    padding: 5px;
    cursor: pointer;
    width: 230px;
}

.pj-item img {
    transition: 0.3s;
}

.pj-item img:hover {
    transform: scale(1.1);
}

.pj-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}




.lightbox-overlay {
    display: none;
    /* display: block; */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

.lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 60%;
    max-height: 60%;
    overflow: hidden; */
}

.lightbox-image {
    /* max-width: 100%; */
    max-height: 80vh;
}

.lightbox-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: whitesmoke;
    cursor: pointer;
}

.lightbox {
    width: 1200px;
}



/* ====================project rwd======================== */

@media screen and (max-width:414px) {


}