@keyframes AnimeGrade{
    0% {
        background-position: 0% 50%;
    }
    50% {

        background-position: 100% 50%;
    }
    100% {

        background-position: 0% 50%;
    }
}

@keyframes animaterun {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animaterun2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes animaterunLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animaterunLeft2 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}


/*------------------------- index start---------------------------------*/
/*------------------------- header ---------------------------------*/
.wrap {
    width: 100%;
    box-sizing: border-box;
    
}

header {
    margin: 0 auto;
    /* width: 1200px; */
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner-wrap {
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.banner-wrap img {
    margin: 0 auto;
    display: block;
    width: 100%;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.main {
    position: relative;
    z-index: 10;
}

/* -------------------------index-btn----------------------------------- */

.index-btn-wrap {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    z-index: 11;
}

.index-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-btn li {
    margin: 3%;
    height: 80px;
    width: 200px;
    text-align: center;

}



.scrollToTopBtn {
    width: 30px;
    height: 30px;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    padding: 10px;
    background-color: rgb(51, 51, 51, 0.87);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: sticky;
    left: 1800px;
    bottom: 50px;
    z-index: 100;
}



/* -------------------------index-btn over----------------------------------- */

/*------------------------- container ---------------------------------*/


.index-container-black {
    /* margin-top: 6%; */
    margin-bottom: 10%;
}

.box-wrap {
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
}

.black-box1 {
    width: 50%;
    height: 110vh;  
    background-color: black;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.black-box2 {
    width: 50%;
    height: 110vh;  
    background-color: black;
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align-last: left;
}


.index-container-box {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.index-container-img-wrap {
    display: flex;
    justify-content: center;
    align-items: start;
    /* background-color: rgb(217, 217, 217 ,0.4); */
    position: relative;
}

.index-container-box img {
    display: block;
    width: 70%;
}
/* .img-intro {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: end;
} */

.img-intro {
    position: absolute;
    top: 250px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-intro img {
    width: 450px;
}

.img-intro h4 {
    width: 250px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(217, 217, 217 ,0.8);
    border-radius: 15px;
}


/*------------------------- container over ---------------------------------*/

/*------------------------- index over---------------------------------*/


@media screen and (max-width:414px) {
    .section {
    
    }

    .banner-wrap img {
        width: auto;
        height: 100vh;
    }


}