@keyframes AnimeGrade{
    0% {
        background-position: 0% 50%;
    }
    50% {

        background-position: 100% 50%;
    }
    100% {

        background-position: 0% 50%;
    }
}

@keyframes animaterun {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animaterun2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
}

@keyframes animaterunLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes animaterunLeft2 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}


/*------------------------- index start---------------------------------*/
/*------------------------- header ---------------------------------*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
}

.banner-wrap {
    margin: 0 auto;
    width: 1920px;
    /* border: 1px solid blue; */
    position: relative;
    overflow: hidden;
}

.banner-wrap img {
    display: block;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.main {
    position: relative;
    z-index: 10;
}

/* -------------------------index-btn----------------------------------- */

.index-btn-wrap {
    /* border: 1px solid black; */
    width: 1200px;
    position: absolute;
    top: 650px;
    left: 360px;
    z-index: 11;
}

.index-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-btn li {
    border-radius: 15px;
    margin: 5%;
    height: 80px;
    width: 200px;
    flex-grow: 1;
    text-align: center;

}

/* -------------------------index-btn over----------------------------------- */

/*------------------------- container ---------------------------------*/

.index-container {
    margin-top: 15%;
    width: 100%;
}

.index-container-black {
    margin-top: 6%;
}

.box-wrap {
    display: flex;
    flex-direction: column;
}

.black-box1 {
    width: 1920px;
    height: 540px;
    background-color: black;
}

.black-box2 {
    width: 1920px;
    height: 540px;
    background-color: black;
}

/* .animate__fadeOutUpBig {
    animation-duration: 2s;
}

.animate__fadeOutDownBig {
    animation-duration: 23s;
} */

.index-container-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    overflow: hidden;
}

.index-container-img-wrap {
    display: flex;
}

.index-container-img-wrap h1 {
    margin-left: 5%;
}

.index-container-box img {
    display: block;
}




/*================= 跑馬燈============== */

/*------------------------- container over ---------------------------------*/

/*------------------------- index over---------------------------------*/
